hr { border: 1px solid }

.entry h2 {
    font-size: 30px;
    line-height: 1;
    margin:0 0 10px 0;
}

.expand h2 a:link::after{
    background-image: url('/link-icon.svg');
    margin-left: 10px;
    display: inline-block;
    width: 15px;
    height: 15px;
    content: "";
}
.entry p.subdate { font-size: 11px }
.entry p {
    margin: 0;
    font-size: 21px;
    line-height: 1.2;
}

.card * { color: #ddd }
.expand h2 a, .expand hr{ color: #222 }
.expand h2 { margin: 0 }

.expand-c {
    width:100%; height:100%;
    background: white;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    cursor: pointer;
    overflow-y: auto;
}

.card:hover { box-shadow: 0 0 5px #009f9f }
.expand {
    max-width:480px;
    margin:auto;
    padding:5%;
}

@media screen and (min-width:960px) {
    .expand { margin: auto auto auto 5% }
    .expand-c::before {
        background-size: cover;
        width: 40%;
        height: 100%;
        content: "";
    }
}
.expand p { line-height: 1.4 }
