<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{lang}}" xml:lang="{{lang}}">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
    <title>Portfolio</title>
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
    <script>
        if (navigator && (navigator.appName == 'Microsoft Internet Explorer')) {
            document.addEventListener("DOMContentLoaded",function(){
                document.getElementById('folio-c').setAttribute('style','margin:auto;max-width:480px;color:#222;font-family:arial;');
            });
        } else {
        function bg(p){ return '\tbackground'+p+';\n' }
        function fbg(d,u,c){
            return bg(': linear-gradient('+d+'#0004,#000e),url("'+u+'")')+bg('-size: cover')+bg('-color: #'+c)
        }
        function s(thumb,pic,id,thumbCol,picCol){
            return '#'+id+' div.card{\n'+fbg('',thumb,thumbCol)+'}\n#'+id+'.expand-c::before{\n'+fbg('to left,',pic,picCol)+'}';
        }
        document.head.insertAdjacentHTML('beforeend','##CSS_PORTFOLIO_EXTRA##');
        document.head.insertAdjacentHTML('beforeend','<link rel="stylesheet" href="/portfolio.css"/>');
        document.head.insertAdjacentHTML('beforeend','<style>'{{#projects}}+s('{{.thumbnail}}','{{.picture}}','{{.id}}','{{.thumbcol}}','{{.piccol}}'){{/projects}}+'</style>');
        document.addEventListener("DOMContentLoaded",function(){
            function rh(id){
                var x=document.getElementById(id+'-link');
                x.setAttribute('data-href',x.getAttribute('href'));
                x.removeAttribute('href');
            }
            {{#projects}}rh('{{.id}}');{{/projects}}
            document.getElementById('footnotes').style.display='block';
        });
        function toggleExpand(e,t) {
            var owns=t.classList;
            var isExp=owns.contains('expand-c');
            var newC=isExp? 'card':'expand';
            var oldC=isExp? 'expand':'card';
            owns.remove(oldC+'-c');
            owns.add(newC+'-c');
            var chlds=t.firstChild.classList;
            chlds.remove(oldC);
            chlds.add(newC);
            if(isExp){
                document.getElementById(t.id + '-link').removeAttribute('href');
            }else{
                var headlink=document.getElementById(t.id+'-link');
                headlink.setAttribute('href',headlink.getAttribute('data-href'));
                e.preventDefault();
            }
        }
        function lin(e,t) {
            if(t.parentElement.classList.contains('expand')){
                e.stopPropagation();
            }
        }
        }
    </script>
    <noscript><style>#folio-c{margin:auto;max-width:480px;color:#222;font-family:arial}</style></noscript>
    ##CSS_HEADER##
</head>
<body>
    ##SITE_HEADER##
    <div id="body">
        {{{preface}}}
    </div>
    <div id="folio-c">
    {{#projects}}
        <div id="{{.id}}" class="card-c" onclick="toggleExpand(event,this)">
            <div class="entry card">
                <h2 onclick="lin(event,this)"><a target="_blank" id="{{.id}}-link" href="{{.link}}">{{.title}}</a></h2>
                <p class="subdate">({{.date}})</p>
                <hr>
                <p class="short-descr">{{.short_descr}}</p>
                <p class="long-descr">{{{.long_descr}}}</p>
            </div>
        </div>
    {{/projects}}
    </div>
    <div id="footnotes" style="display:none">
        {{{footnotes}}}
    </div>
</body>
</html>
