#gitlab-link img { vertical-align: sub }
.gitlink:hover { background: #1eb3b3 }
.gitlink {
    transition: background 0.5s;
    background: #ade3e3;
    border-radius: 3px;
    padding: 0 20px;
    margin: 0 10px;
    font-size: 25px;
}
