html {
    color: #222;
    font-size:17px;
    font-family: arial;
    background: #faf6df;
    border-top: solid #009f9f 10px;
    border-left: solid #009f9f 10px;
    padding-right: 10px;
}
body { margin: 0 }
#site-name { font-weight: bold; }
.head { padding: 10px }
.head a { border-bottom: solid #03dcdc 5px; }
.head a:hover {
    text-decoration: none !important;
    color: #03dcdc!important;
}
#header a {
    font-size: 24px;
    font-family: "Carlito","Franklin Gothic Medium", sans-serif;
    color: black;
}
#header {
    display: flex;
    justify-content: space-between;
}
#header #site-name { background: #009f9f; }

p, li { line-height:1.4 }
li { margin: 10px 0 }

sup { font-size:0.7em }
a { text-decoration:none }
a:link { color:#03dcdc }
a:visited { color:#009f9f }
a:link:hover { text-decoration:underline }

code {white-space: pre-wrap; font-size: 17px }
span.smallcaps { font-variant: small-caps }
span.underline { text-decoration: underline }

#body, #footnotes {
    margin: auto;
    max-width: 480px;
}

#footnotes ul {
    margin-top: 40px;
    padding: 10px 0 0 0;
    border-top: 1px solid #ddd;
}

#footnotes li {
    font-size: 12.5px;
    list-style: none;
    margin: 5px;
    line-height: 1.1;
}
