#folio-c {
    font-family: "Noto Sans", "Franklin Gothic Medium", sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 960px;
    justify-content: center;
}

.card-c {
    width: 300px; height: 300px;
    margin: 10px;
}

.card {
    height: 70.6%;
    padding: 14.7% 10.7%;
    text-align: center;
    border: #ddd 2px solid;
    cursor: pointer;
}
.card .long-descr, .expand .short-descr { display: none }
